@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@font-face {  font-family: Graphik;  src: url("../font/Graphik-300-Light.otf");  font-weight: 300;  }
@font-face {  font-family: Graphik;  src: url("../font/Graphik-700-Bold.otf");  font-weight: 700;  }
body {
    font-family: Graphik, sans-serif;
    font-weight: 300;
    background: #353353;
    color: white !important;
}
h1, h2, h3, h4 {
    font-family: Graphik, sans-serif;
    font-weight: 700;
}
a {
    color: white;
    text-decoration: underline;
}
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.sk-wave-rect {
    background: #ff4c60;
}
.btn-danger {
    font-weight: 700;
    color: white;
    background: #ff4c60;
    text-decoration: none !important;
}
.btn-danger:focus {
    box-shadow: none !important;
}
.btn-danger:hover {
    color: white !important;
    background: #ff4c60 !important;
}

.rounded {
    border-radius: 20px !important;
}

.bg-purple {
    background: #302f4e !important;
}
.time {
    color: #8B88B1;
}
.timeline-container {
    padding-left: 50px;
    margin-bottom: 50px;
    position: relative;
}
.study .timeline-container::after {
    content: url(../img/school.svg);
    position: absolute;
    left: -7px;
    top: -7px;
    z-index: 1;
}
.job .timeline-container::after {
    content: url(../img/work.svg);
    position: absolute;
    left: -7px;
    top: -2px;
    z-index: 1;
}
.filet {
    margin-top: 10px;
    margin: auto;
    width: 15%;
    height: 1px;
    background-color: #ff4c60;
}
h-100 {
    height: 100%;
}




section#nav {
    background: #353353 !important;
    font-weight: 700;
    padding: 10px 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    z-index: 1000;
}
section#nav a:hover, section#home .social-icon a:hover, a:hover {
    color: #FFD15C !important;
}
section#home {
    padding: 0;
    height: 100vh;
    min-height: 100vh;
}
section#home .social-icon {
    font-size: 21px;
}
section#home .social-icon a {
    color: white;
    padding: 10px;
}


